<!-- <section>
  <article>
    <h3>Interpolation</h3>
    <p>String renderizada com interpolação {{ url }}</p>
    <p>O Resultado de 1+1 é: {{ 1 + 1 }}</p>
    <p>O Resultado de 1+1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>
      Cusro de Angular e gosto do curso: {{ angularCourse && getLikeCourse() }}
    </p>
  </article>
  <article>
    <h3>Property binding</h3>
    <img [src]="imageUrl">
    <img src="{{ imageUrl }}">
  </article>
</section> -->
<section>
  <article>
    <h3>Two way data binding</h3>
    <div>
      <input
        type="text"
        [value]="name"
        (input)="name = inputText.value"
        #inputText
      />

      <input type="text" [ngModel]="name" (ngModelChange)="name = $event" />

      <input type ="text" [(ngModel)] = "name">

      <p>Você Digitou: {{ name }}</p>
    </div>

    <div>
      <p>Meu nome é {{person.name}} e tenho {{person.age}} anos de idade</p>
      <input type= "text" [(ngModel)]="person.name"/>
      <input type= "text" [(ngModel)]="person.age"/>
    </div>
  </article>
</section>
